@import url('https://fonts.googleapis.com/css?family=Lato|Raleway:100,400,400i,500,700');
@function rem($pixels, $context: 16) {
   @return #{$pixels/$context}rem;
}

$main-font-family: 'Lato',
sans-serif;
$secondary-font-family: 'Raleway', sans-serif;
//fon-size
$main-font-size: rem(22);
$secondary-font-size: rem(24);
$main-heading-font-size: rem(45);
$main-second-heading-font-size: rem(48);
$secondary-heading-font-size: rem(35);


body {
   font-family: $main-font-family;
   font-size: $main-font-size;
   line-height: 1.3;
}

a {
   text-decoration: none;
}
//h1 {
//   font-size: $heading-font-size;
//}
//
//p,
//h1,
//h2,
//h3,
//h4,
//h5,
//h6 {
//   margin-top: 0;
//}
//p {
//   display: inline-block;
//}